name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        rust: [stable, nightly]
    env:
      RUSTFLAGS: -Dwarnings
    steps:
    - uses: actions/checkout@v6
    - name: Install ${{ matrix.rust }}
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.8.1

    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all --no-fail-fast

  check_fmt_and_docs:
    name: Lints and Docs
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy

    - uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Format
      run: cargo fmt --all -- --check

    - name: Docs
      run: cargo doc --no-deps
