name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        rust: [stable, nightly]
    env:
      RUSTFLAGS: -Dwarnings
    steps:
    - uses: actions/checkout@v6
    - name: Install ${{ matrix.rust }}
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.8.2

    - name: Run tests
      run: cargo test --workspace --no-fail-fast
    - name: Run tests (all features)
      run: cargo test --workspace --no-fail-fast --all-features

  check_fmt_and_docs:
    name: Lints and Docs
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
      RUSTDOCFLAGS: -Dwarnings
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy

    # Check using Clippy with the feature combinations listed in the README.
    - run: cargo clippy
    - run: cargo clippy --no-default-features --features algo-all,base-mode-open,serde

    - name: Format
      run: cargo fmt --all -- --check

    - name: Docs
      run: cargo doc --no-deps
